[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
uvicorn = "*"
fastapi = "*"
keras = "*"
pillow = "==6.2.1"
"discord.py" = "*"

[dev-packages]

[requires]
python_version = "3.7"
